<h2>Editar usuario</h2>
<div *ngIf="user">
    <ul>
      <li>{{user.id}}</li>
      <li>{{user.name}}</li>
      <li><input [(ngModel)]="user.address" placeholder="user.adress"></li>
      <li><input [(ngModel)]="user.phone" placeholder="user.phone"></li>
    </ul>
</div>

<button (click)="goBack()">Return</button>
