<h2>Nuevo Usuario</h2>
<div *ngIf="Luser">
    <ul>
      <li><input [(ngModel)]="Luser.name" placeholder="Nombre"></li>
      <li><input [(ngModel)]="Luser.address" placeholder="Direccion"></li>
      <li><input [(ngModel)]="Luser.phone" placeholder="Telefono"></li>
    </ul>
</div>

<button (click) = "saveUser()">Guardar</button>