<div class="BasicTable mat-elevation-z5">
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id_usuario">
        <mat-header-cell *matHeaderCellDef mat-sort-header> id usuario </mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.id_usuario}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="firstname">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.firstname}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="lastname">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.lastname}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.email}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="password">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Contraseña</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.password}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator
                   [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
  </div>
