<!--The content below is only a placeholder and can be replaced.-->

<div class="mainContainer">
  <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="navBar.toggle()">Toggle sideBar</button>
      <h1 class="example-app-name">
          Welcome to {{ title }}!</h1>
  </mat-toolbar>

  <mat-sidenav-container class="Visor" role="navigation">
    <mat-sidenav #navBar mode="over" opened="true">
      <nav>
        <menu *ngFor="let nav of navArray">
          <a routerLink="/{{nav.name}}">{{nav.label}}</a>
        </menu>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="text-align:center">
        <img width="300" alt="Angular Logo" src="http://photos.costume-works.com/full/sailor_cat.jpg">
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>