<h2>Nuevo Usuario Remoto</h2>
<div *ngIf="Puser">
    <ul>
      <li><input [(ngModel)]="Puser.firstname" placeholder="Nombre"></li>
      <li><input [(ngModel)]="Puser.lastname" placeholder="Apellido"></li>
      <li><input [(ngModel)]="Puser.email" placeholder="Email"></li>
      <li><input [(ngModel)]="Puser.password" placeholder="Password"></li>
    </ul>
</div>

<button (click) = "saveNPuser()">Guardar</button>