
<h2>Usuarios en el Sistema</h2>
<h3>Click para Editar</h3>
<ul class="usuarios">
  <li *ngFor="let user of user_list">
    <a routerLink="/EditUsuario/{{user.id}}">
      <span class="badge">{{user.id}}</span> {{user.name}}
    </a>
  </li>
</ul>
