@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
h1{
    color :rgba(235, 39, 39, 0.568);
    font-size: 200%;
}
p{
    color: rgba(30, 33, 39, 0.678);
    font-family: Arial;
    font-size: 160%;
}
table, th, td {
    border: 1px solid black;
} 